.button-container {
  display: flex;
  /* border-bottom: solid 1px rgb(226, 225, 225); */
  padding-bottom: 10px;
}

.button-filter {  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-bottom: solid 1px  rgb(226, 225, 225);
  display: flex;
  column-gap: 10px;
  font-size:medium;
  width: 50vw;
  padding-bottom: 15px;

}
.button-filter:hover {
  cursor: pointer;
}

.button-count {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 20px;
  height: 15px;
  font-weight:600;
  font-size: 15px;
  color: rgb(63, 62, 62);
  background-color: rgb(146, 144, 144);
  border-radius: 40%;
}

.button-clicked{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  display: flex;
  column-gap: 10px;
  font-size:small;
  font-size: larger;
  width: 50vw;
  padding-bottom: 15px;
  border-bottom: 4px solid orange;
  cursor: pointer;
}



