body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  /* font-size: 0.5rem; */
}



.input-container {
  display: flex;
  align-items: center;
  margin: 20px auto 0 auto;
  border: 2px solid rgb(222, 217, 217);
  width: 250px;
  height: 27px;
  padding: 2px;
  transition: .3s;
}

.input-container:hover {
  border: 2px solid gold;
}

.search-users {
  border: none;
  text-align: center;
  /* border: solid blue 1px; */
  
}

.bi-search {
  /* border: solid red 1px; */
  padding-left: 3px;
}

/* REFERENCIA: https://pt.stackoverflow.com/questions/5216/como-remover-borda-dos-input-e-textarea-de-todos-os-browsers-quando-clicado */
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
